#sign-up-form-container {
    padding: 50px;
    margin: auto;
    max-width: 500px;
}

#sign-up-form {
    border: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
}

#title {
    text-align: center;
}

/* #submit-button {

} */
